.user {
    border: 1px solid;
    border-radius: 10px;
    margin: 8px 0;
    position: relative;
    padding: 10px;

    &__delete-btn {
        position: absolute;
        right: 20px;
        top: 45%;
        z-index: 1;
        &:hover {
            cursor: pointer;
        }
    }
}
